@model oneri_sikayet.Models.Personel

@{
    ViewData["Title"] = "Home Page";
}

<style>
    #Giris{
        text-align:center;
    }
</style>

    İsimler
    <table>
       
    </table>

</div>


